body {
    font-family: 'Gotham-Black', Helvetica, sans-serif;
}

.container {
    width: 100%;
    padding: 0 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card{
    width: calc((100% / 6) - 20px);
    margin: 10px;
}

.my-button{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid white;
}

h4,
h2 {
    color: white;
    margin: 10px 0; 
}

h4,
h5{
    text-align: center;
}

span,
h5{
    color: #74767b;
    
}

@font-face {
	font-family: 'Gotham-Black';
	src: local('Gotham-Black'), url('Gotham-Black.otf') format('truetype');
	}