@import "general.css";
@import "reset.css";
@import "debug.css";


/* MAIN SECTION */

#main-content{
    height: calc(100vh - 100px);
    display: flex;
}

#main-content > aside{
    width: 200px;
}

#main-content > main{
    width: calc(100% - 200px);
}

#main-content > main > header{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #080b12;
    text-align: right;
    padding: 20px;
    width: calc(100% - 200px);
}

#main-content > main > section{
    overflow-y: auto;
    height: 100%;
    padding-top: 80px;
} 


#main-content > main > section nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
} 

#main-content > main > section nav ul li{
    padding: 5px 10px;
}    



/* FOOTER */

footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

footer > *{
    padding: 20px;
    color: white;
}



/* 

    RESPONSIVE

*/

@media screen and (max-width: 1100px) {
    .card{
        width: calc((100% / 4) - 20px);
    }
}

@media screen and (max-width: 700px) {
    .card{
        width: calc((100% / 2) - 20px);
    }
}

@media screen and (max-width: 600px) {
    #main-content > aside{
        width: 60px;
    }
    
    #main-content > main,
    #main-content > main > header {
        width: calc(100% - 60px);
    }
}